/* Start Global Rules */
:root {
    --main-color: #121725;
    --main-sub-color: #54E6AF;
    --input-color: #2C344B;
    --sub-header-color: #FFFFFF;
    --logo-color: #5A668A;
    --text-color: #c2cbe5;
    --heading-size-text: 52px;
    --heading-heigth-text: 62px;
    --text-size: 18px;
    --text-heigth: 28px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Chivo', sans-serif;
    background: var(--main-color);
}
/* End Global Rules */

.section {
    width: 1275px;
    height: 640px;
    position: absolute;
    top: 130px;
    left: 165px;
}
@media (min-width: 573px) and (max-width: 991px) {
    .section {
        width: 768px;
        height: 1024px;
    }
}
@media (max-width: 572px) {
    .section {
        width: 375px;
        height: 667px;
        position: relative;
    }
}
.section .main_logo {
    position: absolute;
    left: 0px;
    top: -29px;
}
@media (min-width: 573px) and (max-width: 991px) {
    .section .main_logo  {
        width: 134.85px;
        height: 56px;
        top: 50px;
        left: 39px;
    }
}
@media (max-width: 572px){
    .section .main_logo {
        top: 62px;
        left: 120px;
        z-index: 6;
    }
}
.section img {
    width: 888px;
    height: 100%;
    position: absolute;
    left: 387px;
    z-index: -1;
}
@media (min-width: 573px) and (max-width: 991px) {
    .section img {
        display: none;
    } 
    .section .photo {
        position: absolute;
        width: 491px;
        height: 767px;
        top: 0;
        left: 277px;
        background-image: url(/pod-request/starter-code/assets/tablet/image-host.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
@media (max-width: 572px){
    .section img {
        display: none;
    }
    .section .photo {
        background-image: url(/pod-request/starter-code/assets/mobile/image-host.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

    }
}
.section .conte {
    width: 723px;
    height: 509px;
    position: absolute;
    top: 131px;
    left: 0px;
    background: var(--main-color);
    z-index: 2;
}
@media (min-width: 573px) and (max-width: 991px) {
    .section .conte  {
        width: 635px;
        height: 509px;
        top: 258px;
        left: 39px;
    }
}
@media (max-width: 572px){
    .section .conte  {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #121725d8;
    }
}
.section .conte .sub_section {
    width: 665px;
    height: 421px;
    z-index: -3;
    position: absolute;
    top: 88px;
}
@media (min-width: 573px) and (max-width: 991px) {
    .section .conte .sub_section  {
        width: 635px;
        height: 416px;
    }
}
@media (max-width: 572px){
    .section .conte .sub_section  {
        width: 100%;
        height: 100%;
        top: 175px;
    }
}
.section .conte .heading {    
    font-size: var(--heading-size-text);
    font-weight: 300;
    color: var(--main-sub-color);
    line-height: 62px;
    text-transform: uppercase;
    margin: 0;
}
.section .conte .heading span {    
    color: var(--sub-header-color);
}
@media (min-width: 573px) and (max-width: 991px) {
    .section .conte .sub_section .heading {
        font-size: 48px;
        line-height: 56px;
    }
}
.section .conte p {    
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: 28px;
    width: 445px;
    font-weight: 300;
    margin-top: 10px;
}
@media (max-width: 572px){
    .section .conte .sub_section .heading {
        font-size: 27px;
        text-align: center;
        line-height: 38px;
        width: 100%;
    }
    .section .conte .sub_section p {
        position: absolute;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        width: 327px;
        height: 100px;
        margin: 0;
        top: 100px;
        left: 24px;
        font-style: normal;
    }
}
.section .conte .email_form form {
    position: relative;
    top: 30px;
}
.section .conte .email_form .email_input {
    border-radius: 30px;
    border: none;
    width: 427px;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding-left: 25px;
    background: var(--input-color);
    color: var(--sub-header-color);
    position: absolute;
    top: 24.7px;
    z-index: -1;
    outline: none;
}
.section .conte .email_form .error_message_empty {
    color: #FB3E3E;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 85px;
    left: 25px;
    display: none;
}
.section .conte .email_form .error_message_nochar {
    color: #FB3E3E;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 85px;
    left: 25px;
    display: none;
}
.section .conte .email_form .submit_input {
    border-radius: 30px;
    border: none;
    width: 162px;
    height: 46px;
    background: var(--main-sub-color);
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    position: absolute;
    left: 261px;
    cursor: pointer;
    top: 30px;
}
.section .conte .email_form .submit_input:hover {
    background-color: #B3FFE2;
}
@media (max-width: 572px){
    .section .conte .email_form {
        position: absolute;
    }
    .section .conte .email_form form {
        width: 100%;
        height: 108px;
        top: 455px;
    }
    .section .conte .email_form .email_input  {
        top: 0;
        width: 327px;
        left: 24px;
        text-align: center;
        padding: 0;
    }
    .section .conte .email_form .submit_input {
        top: 65px;
        width: 327px;
        left:24px;
    }
    .section .conte .email_form .error_message_empty,
    .section .conte .email_form .error_message_nochar {
        top: -20px;
        width: 200px;
        left: 105px;
    }
}
.section .conte .logo_one,
.section .conte .logo_two,
.section .conte .logo_three,
.section .conte .logo_four {
    position: relative;
    top: 175px;
    display: inline-block;
    margin-left: 25px;
}
@media (max-width: 572px){
    .section .conte .logo_one,
    .section .conte .logo_two,
    .section .conte .logo_three,
    .section .conte .logo_four {
        width: fit-content;
        display: flex;
        margin-left: 1px;
        top: 230px;
        margin-top: 20px;
        left: 24px;

}
}
.section .conte .logo_one {
    margin: 0;
}
.section .drops {
    position: absolute;
    right: -3px;
    bottom: -60px;
    margin-top: 25px;
}
@media (min-width: 573px) and (max-width: 991px) {
    .section .drops {
        left: 30px;
        top: 920px;
        height: 104px;
        width: 232px;
    }
}
@media (max-width: 572px){
    .section .drops {
        display: none;
    }
}